src/SandboxConsole/bin
src/SandboxConsole/obj
src/SandboxConsole/packages
src/Plexito.JavaScriptLogic/bin
src/Plexito.JavaScriptLogic/obj
**/*.suo
src/Plexito/obj
src/Plexito/bin
src/Plexito.Core/bin
src/Plexito.Core/obj
