<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="username" value="salfab"/>
    <add key="password" value="xxxxxx"/>
    <add key="playerName" value="Hubert" />
  </appSettings>
</configuration>